[submodule "lib/kicad-mini-pci-e"]
	path = lib/kicad-mini-pci-e
	url = https://github.com/drbild/kicad-mini-pci-e
[submodule "full-size-sink/lib/kicad-mini-pci-e"]
	path = full-size-sink/lib/kicad-mini-pci-e
	url = https://github.com/drbild/kicad-mini-pci-e
